.callout-container {
    height: 100vh;
    background: url('../assets/success.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#landingTitle {
    font-size: 6rem;
    font-family: "Lora", serif;
    color: white;
    margin-bottom: 30px;
    text-shadow:black 3px 3px;
    text-align:center;
    
    
}

#landingpt {
    font-size: 4rem;
    color: white;
    margin-bottom: 30px;
     text-shadow:black 2px 2px;
}

.goals{
    color: #352602;
    line-height: 50px;
    font-style: italic;
    padding:0;
    margin-bottom: 40px;
    font-size: 2.5rem;
   }

.boldyou{
    font-weight: bold;
}

.buttonlanding {
    padding: 15px;
    position: relative;
    background-color: rgb( 212, 175, 55);
    width: 250px;
    height: 50px;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    text-align: center;

}

.buttonlanding:hover {
    background-color: #ffd232;
    color: white;
text-decoration: none;
}

.jumbotron{
    background:transparent;
    text-align: center;
}

.bg-image-pricing{
    background-color: #B2D3A8;
    height: 100vh;
    padding: 0;
}

.pricing {
    color: white;
    margin-bottom: 30px;
    text-align: center;
    background-color: rgb( 212, 175, 55);
}


#cost {
    
    padding: 0;
    margin-top: 2em;
    margin-bottom:auto;
    color: rgb(176, 244, 180);
    height: auto;
}

#cost tr {
    padding: 0;
    

    background-color: #498467;
    color: rgba(176, 244, 180, 0.65);
}

#cost th {
    background-color: rgba(64, 165, 71, 0.25);
}

.kal {
    color: white;
    height: 60px;
    margin-top: 40px;
    margin-bottom: 40px;
    
   
}

.kal:hover {
    height: 80px;
    margin-bottom: 30px;
    margin-top: 30px;
     transition-timing-function:ease-in-out;
    transition-duration: .5s;
}

#contact-area {

    width: 600px;
    margin-top: 25px;
    vertical-align: central;

}

#contact-area input,
#contact-area textarea {
    
    width: 75vw;
    font-family: Helvetica, sans-serif;
    font-size: 1.4em;
    margin: 0px 0px 10px 0px;
    border: 2px solid #ccc;
}

#contact-area textarea {
    height: 90px;
}

#contact-area textarea:focus,
#contact-area input:focus {
    border: 2px solid #900;
}

#contact-area .submit-button {
    width: 100px;
    float: right;
    background-color:rgb( 212, 175, 55);
    border-radius: 20px;
}

label {
    float: left;
    text-align: left;
    margin-right: 15px;
    width: 100px;
    padding-top: 5px;
    font-size: 1.4em;
    color: white;
}

form {
    display: inline-block;
    text-align: center;
}

.email{
    text-decoration: none;
    background-color: transparent;
    border:none;
    font-size: 1.5em;
}

.email:hover{
    text-decoration: none;
    background-color: transparent;
    border:none;
    color: white;
}


.text-box{
    
}

.bg-image-buddy{
    background: url(../assets/nature-outdoor-rock-silhouette-light-cloud-1026034-pxhere.com.jpg) no-repeat center center fixed;
    height: 100vh;
    padding: 0;
}

.bg-image-aboutme{
    background: url(../assets/images/eldorado.jpg) no-repeat center center fixed;
    background-color: black;
    height: 100%;
    padding: 0;
}


.bg-image-one2one{
    background: url(../assets/camera-lens.jpg) no-repeat center center fixed;
    height: 100vh;
    padding: 0;
}

.bg-image-testimonials{
    background: url(../assets/images/vector-hand-drawn-quotation-mark-symbol-set.jpg) no-repeat center center fixed;
    height: 100vh;
    padding: 0;
}

.navbar {
    margin-bottom: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color:black;
    border: 0;
}

.navbar-main {
    margin-bottom: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    z-index: 3;
    background-color: black;
    border: 0;
}


.navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .navbar-toggle {
    border: 0;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}



.navbar-default .navbar-nav a {
    font-weight: bold;
    
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background: black;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: white;
    
}




.social {
    float: right;
    position: relative;
    margin-top: 10px;
    margin-right: 20px;
    background-color:black;
}

.social a {
    margin-right: 30px;
    color: white;
     background-color:black;
}

.page-title{
    background-color:  rgba(0,0,0,0.5);
    border-style: groove;
    border-radius: 30px;
    border-width: 3px;
    color: white;
    margin-top: 7em;
    margin-bottom: 3em;
    margin-left: 2em;
    margin-right: 2em;
    
}

.page-content{
   
    height: auto;
    width: 100%;
    color: white;
    padding: 2em;
    margin-top:3em;
    margin-bottom: 3em;
    margin-left: 0;
}

.paragraph{
     background-color:rgba(156, 120, 40, 0.2) ;
     border-width: 3px;
     border-radius:30px;
     border-color: white;
     border-style: groove;
     margin-top: 2em;
}

@media(min-width: 1024px){
 .bottom {
     margin-top:calc(100vh - 80px);
     padding-bottom: 0;
    margin-bottom: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    border: 0;
    color: white;
 }
}
 
 .button {
    padding: 15px;
    position: relative;
    margin-top: 40px;
    margin-bottom: 30px;
    background-color: rgb( 212, 175, 55);
    border-color: transparent;
    width: auto;
    height: 50px;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    text-align: center;
}

.button:hover {
    background-color: #ffd232;
    color: white;
text-decoration: none;
}


.lou-title{
    font-family: "Lora", serif;
    position: relative;
    margin-top: 1em;
    text-align: center;
    color: rgb( 212, 175, 55);
}

.contact-email{
    
    text-align: center;
    margin-top: 35px;
    color: rgb( 212, 175, 55);
}

.image-rounded{
    margin-top: 1em;
}

#les-mills,
#nasm,
#cimpsa {
    height: 5em;
}

#ct {
    color: rgb( 212, 175, 55);
    background-color: rgba(0,0,0,0.85);
    border-radius: 20px;
    border-style: groove;
    border-color: white;
    border-width: thin;
    height: 3em;
    text-align: center;
    margin-top: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
}

.vid-box {
    margin-top: 85px;
    width: 90%;
    margin:auto auto;
    padding-bottom: 3em;
}

#vid1,
#vid2,
#vid3 {
    width: 100%;
    margin-bottom: 30px;
}

@media(min-width:991px) {
    #vid1,
    #vid2,
    #vid3 {
        display: inline-block;
        margin: 40px 10px 40px;
        width: 30%;
    }
}



@media(max-width:991px){
    .social{
        visibility:hidden;
    }
}

@media(min-width:991px) {
    #contact-area input,
    #contact-area textarea {
        width: 50vw;
        float: right;
    }
}

@media(max-width: 991px) {
    #contact-area {
        width: 70vw;
    }
}